* {
  box-sizing: border-box;
}

:root {
  --p-color: #282828;
  --p-text-desc-color: #4d4d4d;
  --p-bg-color: #d3b673;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  font-family: "Barlow", sans-serif;
  line-height: 1.6rem;
  font-size: 1.6rem;
  color: var(--p-text-color);
  text-align: left;
  width: 100%;
}

/* main */
.main__img {
  width: 100%;
}

.main-content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
}

.main-content h1 {
  font-family: "Baloo 2", sans-serif;
  font-size: 2.8rem;
  letter-spacing: 1.4px;
  color: var(--p-bg-color);
  text-transform: uppercase;
  margin-bottom: 32px;
  font-weight: 800;
  padding: 15px 0;
}

/* main__nav */
.main__nav {
  width: 343px;
  margin-right: 28px;
}

.main__nav--list {
  margin-bottom: 160px;
  display: flex;
  flex-direction: column;
}

.main__nav--list a {
  padding: 10px 0;
  margin-bottom: 8px;
  margin-left: 18px;
  text-decoration: none;
  color: var(--p-color);
  font-weight: 600;
}

.main__nav--list a:last-child {
  margin-bottom: 0;
}

.main__nav--key-word button {
  margin-right: 18px;
  padding: 5px 25px;
  margin-bottom: 18px;
  background: #fbeed1;
  color: var(--p-color);
  border: none;
}

.main__nav--key-word button:hover {
  color: #fff;
  background: var(--p-color);
  cursor: pointer;
}

/* main__news */
.main__news {
  width: calc(100% - 343px);
}

.main__news h1 {
  color: var(--p-color);
}

.main__news--content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 38px 15px;
}

.main__news--item {
  display: flex;
  flex-direction: column;
  width: 410px;
  height: 480px;
  background: #f5f5f5;
}

.main__news--item:hover {
  background: #fff;
  cursor: pointer;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.096),
    -3px -1px 2px 0 rgba(0, 0, 0, 0.096);
}

.main__news--item img {
  width: 100%;
  height: 215px;
  object-fit: cover;
}

.main__news--title {
  width: 348px;
  height: 50px;
  margin: 14px auto 5px;
  font-weight: 500;
  color: var(--p-color);
}

.main__news--desc {
  width: 348px;
  margin: 0 auto 14px;
  color: var(--p-text-desc-color);
}

.main__news--item button {
  width: 110px;
  height: 30px;
  margin-left: 30px;
  color: #fff;
  background: var(--p-bg-color);
  border: 1px solid var(--p-bg-color);
  font-size: 1.6rem;
}

.main__news--item button:hover {
  color: var(--p-bg-color);
  background: #fff;
  cursor: pointer;
}

/* main__pages */
.main__pages {
  margin: 40px 0 50px 440px;
}

.main__pages a {
  text-decoration: none;
  padding: 5px;
  color: #007bff;
}

.main__pages a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.main__pages span {
  padding: 5px;
  background: transparent;
}

.main__pages span:first-child {
  background: var(--p-bg-color);
  color: #fff;
}
