@import url(layout/header.css);
@import url(layout/footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Barlow";
}
