* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --p-text-color: #212529;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  font-family: "Barlow", sans-serif;
  line-height: 1.1;
  font-size: 1.6rem;
  color: var(--p-text-color);
  text-align: left;
  width: 100%;
}

/* ============header============ */
header {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.06);
  background: #fbfbfb;
}

.header__main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(100% - 30px);
  margin: 0 auto;
  padding: 5px 0;
}

/* .header__logo */
.header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__logo img {
  width: 150px;
  height: 40px;
}

/* .header__search */
.header__search {
  display: flex;
  width: 606px;
  height: 33px;
  position: relative;
}

.heder__search--search {
  display: flex;
  align-items: center;
}

.header__search svg {
  margin: 0 5px;
}

.header__search input {
  width: 470px;
  height: 31px;
  border-radius: 50px;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0 20px;
}

.header__search select {
  border: 1px solid #00000042;
  border-radius: 99px;
  height: 31px;
  position: absolute;
  right: 0;
  padding-left: 7px;
}

/* .header__btn */
.header__btn button {
  width: 96px;
  height: 30px;
  border-radius: 50px;
  color: #fff;
  background: #d8b979;
  border: none;
}

/* =========main============ */

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 8px;
  display: flex;
  justify-content: space-evenly;
}

/* main__menu */
.main__menu {
  width: 300px;
  height: fit-content;
  border-radius: 2px;
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.08),
    -1px -0.5px 2px 0 rgba(0, 0, 0, 0.055);
  font-size: 1.4rem;
}

.main__menu h2 {
  padding: 10px 20px;
  font-weight: 600;
  border-bottom: 1px solid #f1f1f1;
}

.main__menu--list {
  display: flex;
  padding-bottom: 10px;
}

.main__menu--list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.main__menu--list li {
  margin: 0 15px;
  padding-left: 20px;
}

.main__menu--list li:last-child a {
  border-bottom: none;
}

.main__menu--list a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 224px;
  height: 40px;
  text-decoration: none;
  border-bottom: 1px solid #f1f1f1;
}

.main__menu--name {
  color: var(--p-text-color);
}

.main__menu--amount {
  color: #8a733f;
}

/* main__order */
.main__order {
  width: 536px;
  height: 505px;
  font-weight: 600;
  font-size: 1.4rem;
}

.main__order--item {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* width: 60%; */
  padding: 15px;
  /* margin: 0 2% 3% 0; */
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

label.main__order--label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 10px;
  cursor: pointer;
  margin-top: 15px;
}

label.main__order--label i {
  transition: transform 0.3s;
}

input[type="checkbox"]:checked + label i {
  transform: rotate(180deg);
}

.main__order--dish {
  height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  background: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 14px;
  column-gap: 8px;
}

input[type="checkbox"]:checked + label + .main__order--dish {
  height: auto;
  padding: 5px;
}

.main__order--img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.main__order--item-name {
  width: 140px;
  height: auto;
  margin-top: 18px;
  margin-bottom: 5px;
  line-height: 1.2;
  padding: 5px 0;
}

.main__order--item-price {
  display: flex;
  width: 140px;
  height: 38px;
  align-items: flex-start;
  position: relative;
}

.main__order--price-sale {
  color: #8a733f;
  margin-right: 8px;
  padding-top: 4.4px;
}

.main__order--price-origin {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: line-through;
  margin-top: 3px;
  padding: 3px 0;
  color: #535353;
}

.main__order--add {
  color: #fff;
  background: #799dd9;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 2.6rem;
  font-weight: 600;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
}

/* man__cart */
.main__cart {
  width: 300px;
  height: 195px;
  padding-bottom: 12px;
  border-radius: 2px;
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.08),
    -1px -1px 5px 0 rgba(0, 0, 0, 0.055);
  font-size: 1.4rem;
}

.main__cart--top button {
  display: none;
}

.main__cart--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  font-size: 1.4rem;
}

.main__cart--title h2 {
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px;
}

.main__cart--title button {
  background: transparent;
  border: none;
}

.main__cart--product {
  padding: 8px 0;
  margin: 10px 15px 0 15px;
}

.main__cart--cost {
  margin: 15px 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.main__cart--cost img {
  height: 35px;
}

.main__cart--cost span {
  padding: 0 3px;
}

.main__cart--btn {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  height: 30px;
  background: #d8b979;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
}

.main__cart--btn button {
  background: transparent;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -10px;
  height: 111%;
  border: none;
}

/* main__btn-menu */
.main__btn-menu {
  position: fixed;
  cursor: pointer;
  z-index: 10;
  right: 16px;
  bottom: 80px;
  display: none;
}

.main__btn-menu button {
  border: none;
  background: transparent;
}

.main__btn-menu .fa-bars {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ee4d2d;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
}

.main__btn-menu .fa-circle-xmark {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ee4d2d;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
}

#button {
  display: none;
}
